$primary-color: #03A9F4; // Google Light Blue 500
$secondary-color: #00B0FF; // Google Light Blue A400
$accent-color: #00E5FF; // Google Cyan A400
$text-color: #f5f5f5; // Google Grey 100
$background-color: #37474F; // Google Blue Grey 800

$blockquote-text-color: #ffffff;
$blockquote-background-color: #0277BD; // Google Light Blue 800
$blockquote-border-color: #00bcd4;

$table-border-color: #FFFFFF;

$font-size-base: 1em;
$line-height: $font-size-base * 1.2;
$font-code-size: $font-size-base * 0.89;

$margin-left-right: 20%;
$margin-top-bottom: 20px;
$img-padding-top-bottom: 30px;

$box-shadow-x: 0;
$box-shadow-y: 0;
$box-shadow-blur: 30px;
$box-shadow-color: #8a8a8a;

$smallscreen: 960px;

$blockquote-padding-left-right: 1em;
$blockquote-padding-top-bottom: 1em;

$table-padding: 1em;