$color_primary: #03A9F4;
$color_secondary: #673AB7;
$color_accent: #FF1744;
$color_text: #37474F;

$font_size: 1em;
$font_line-height: $font-size * 1.2;
$font_weight--headings: 100;
$font_weight--paragraphs: 500;

$margin_top: 0;
$margin_bottom: 0;
$margin_left: 10%;
$margin_right: 10%;
