@import "fonts";
@import "variables";


.markdown-styles-fluid {

  h1, h2, h3 ,h4 ,h5 ,h6 {
    font-family: $font_family;
    font-weight: $font_weight--headings;
    color: $color_primary;
  }

  a {
    font-family: $font_family;
    color: $color_secondary;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 5px $blur_img_shadow $blur_img_shadow--spread-radius $color_img_height;
  }

  blockquote {
    margin-top: $margin_blockquoute--top;
    margin-left: $margin_blockquoute--left;
    margin-right: $margin_blockquoute--right;
    margin-bottom: $margin_blockquoute--bottom;
    padding: $padding_blockquoute;
    font-family: $font_family;
    color: $color_text;
  }

  code {
    background-color: $color_code--background;
  }

  pre {
    background-color: $color_code--background;
    padding: $padding_pre;
  }

  p {
    font-family: $font_family;
    font-weight: $font_weight--paragraphs;
    color: $color_text;
  }

  ul {
    list-style-type: none;
    & a {
      text-decoration: none;
    }
  }

  li {
    margin-top: $li_margin-top;
    margin-bottom: $li_margin-bottom;
  }

}

.markdown-styles {
  @extend .markdown-styles-fluid;
  margin: $margin_top $margin_left $margin_bottom $margin_right;
}
