$primary-color: #00BCD4; // Google Cyan 500
$secondary-color: #03A9F4; // Google Light Blue 500
$accent-color: #00E5FF; // Google Cyan A400
$text-color: #424242; // Google Grey 800

$blockquote-text-color: #8A8A8A;
$blockquote-background-color: rgba(0, 225, 255, 0.3);
$blockquote-border-color: #00bcd4;

$font-size-base: 1rem;
$line-height: $font-size-base * 1.2;
$font-code-size: $font-size-base * 0.89;

$margin-left-right: 20%;
$margin-top-bottom: 20px;
$img-padding-top-bottom: 30px;

$box-shadow-x: 0;
$box-shadow-y: 0;
$box-shadow-blur: 30px;
$box-shadow-color: #8a8a8a;

$smallscreen: 960px;