$text-color: #607D8B;
$background-color: #FAFAFA;

$accent-color: #37474F;

$blockquote-background-color: #EDE7F6;
$blockquote-blur-color: #D1C4E9;

// Margins
$margin-top-bottom: 10px;
$margin-left-right: 30%;
$margin-left-right-small: 5%;

// Paddings
$blockquote-padding-top-bottom: 10px;
$blockquote-padding-left: 5%;
$blockquote-padding-right: 10px;

$table-padding-top-bottom: 1em;
$table-padding-left-right: 2em;

// Sizes
$smallscreen: 960px;

$p-max-width: 100%;

$blockquote-blur-amount: 5px;
$blockquote-thickness: 1px;